body {
    background : url("/img/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.contentCenter {
text-align:center;
}
.text-center{
  text-align:center;
  color: #fff;
}
.row-number{
   padding-top: 10px;
}

.row-number button {
  margin: 2% 2% 2% 2%;
}

.row-number button:active {
  animation-name: pulse;
  -webkit-animation-name: pulse;  

  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.btn-number{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 40px;
    width: 70px;
    height: 70px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.4);
    border-color:  rgba(255, 255, 255, 0.6);;
}
.btn-number : hover{
  color: #ff2;
}

/* animation when click */

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7;   
  }
  50% {
    transform: scale(1);
    opacity: 1; 
  } 
  100% {
    transform: scale(0.9);
    opacity: 0.7; 
  }     
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 0.7;   
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; 
  } 
  100% {
    -webkit-transform: scale(0.95);
    opacity: 0.7; 
  }     
}