body {
    background : url("/img/bg.png") no-repeat center center fixed;
    background-color: rgb(9,31,46);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'quarklight', Roboto, Arial, Tahoma, sans-serif;
}

.modal-backdrop {
	opacity: 1 !important;
}

.modal-dialog {
	margin: 3rem;
	margin-top: 50%;
}

.modal-title {
	text-align: center;
	font-size: 2.7rem;
}

.modal-footer {
	text-align: center !important;
}

.modal-footer .btn {
	font-size: 2rem;
	font-weight: bold;
	padding-left: 2rem;
	padding-right: 2rem;
	text-shadow: 0px 2px 0px rgb(76,174,76);
}

.logo {
	width: 40%;
	padding-top: 1.5rem;
}

.textResult {
    color: #fff;
}

.score-border {
	margin-top: 10%;
	color: white;
}

.score-circle {
	margin-top: 5%;
	background-image: url('/img/circle.png');
	background-size: 100% 100%;
	height: 250px;
	width: 250px;

	/* center text */
	text-align: center;
	vertical-align: middle;
	line-height: 250px;

	font-size: 5em;
}


.tossing{
	animation-name: tossing;
	-webkit-animation-name: tossing;

	animation-duration: 2.5s;
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
	0% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(-10deg);
	}
}

/* Question */
.question {
	overflow: hidden;
	height: 50px;
}

.question img {
	position: relative;
	width: 190%;
	top: -90px;
	left: -120px;
}

.question-text h2 {
	margin: 3rem 0rem 2rem 0rem;
	letter-spacing: 0.8px;
	text-shadow: 0px 2px 0px rgba(0,0,0,0.6);
}

.radio {
	font-size: 1.5em;
}

input[type=radio] {
	display: none;
}

.choice {
	width: 100%;
}

.ans-text {
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn-answer,
.btn-answer:visited {
	font-size: 1em;
	background-color: rgba(0, 0, 0, 0.5) !important;
	box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.25), inset 0px 0px 3px 0px rgba(0,0,0,0.4) !important;
	color: rgb(240,240,240) !important;
	border: 0;
}

.btn-answer:active,
.btn-answer:hover,
.btn-answer:focus {
	color: rgb(240,240,240) !important;
	background-color: rgba(0, 0, 0, 0.6) !important;
	box-shadow: inset 0px 3px 15px 0px rgba(0,0,0,0.25), inset 0px 4px 3px 0px rgba(0,0,0,0.4) !important;
}

input[type=radio]:checked ~ .ans-text {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;

	border-style: solid;
	border-width: 1px;
	border-color: white;
	background-color: white;

	color:black;

	animation-name: bounce;
	-webkit-animation-name: bounce;

	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
}

@keyframes bounce {
	0% {
		transform: translateY(0%) scaleY(0.6);
	}
	60%{
		transform: translateY(-100%) scaleY(1.1);
	}
	70%{
		transform: translateY(0%) scaleY(0.95) scaleX(1.05);
	}
	80%{
		transform: translateY(0%) scaleY(1.05) scaleX(1);
	}
	90%{
		transform: translateY(0%) scaleY(0.95) scaleX(1);
	}
	100%{
		transform: translateY(0%) scaleY(1) scaleX(1);
	}
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(0%) scaleY(0.6);
	}
	60%{
		-webkit-transform: translateY(-100%) scaleY(1.1);
	}
	70%{
		-webkit-transform: translateY(0%) scaleY(0.95) scaleX(1.05);
	}
	80%{
		-webkit-transform: translateY(0%) scaleY(1.05) scaleX(1);
	}
	90%{
		-webkit-transform: translateY(0%) scaleY(0.95) scaleX(1);
	}
	100%{
		-webkit-transform: translateY(0%) scaleY(1) scaleX(1);
	}
}

/* Notice */

.notice-font {
	margin-top: 40%;
	font-size: 2.5em;
	font-weight: bold;
}

.border {
	border-style: solid;
	border-width: 2px;
	border-color: white;

	padding: 20px 20px 20px 20px;
}

.progress-bar {
  pointer-events: none;
}

.progress-bar .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;

  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25),
  						0px 0px 3px 0px rgba(0,0,0,0.4);

  transition: 0.2s ease;
 	-webkit-transition: 0.2s ease;
}

/* Fancy blur effect */
.progress-bar .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 0px;
  height: 100%;
  box-shadow: 0 0 10px rgb(42,128,185), 0 0 5px rgb(42,128,185);
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}
